DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=developer
DB_USERNAME=developer
DB_PASSWORD=developer


USER=developer

PORT=333 #backend port to be forwarded to 1000 by nginx proxy

JWT_SECRET=e22b5291bc20d2cdcd9d522c920cc6a1
JWT_EXPIRES_IN=6h

REACT_APP_API_URL=http://localhost:9000
REACT_APP_ADMIN_URL=http://localhost:1000
REACT_APP_CLIENT_URL=http://localhost:8000
