.main {
  display: flex;
  margin: 10px auto;
  width: 92%;
  gap: 47px;
}
.investNow {
  width: 65%;
}
.investNowHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.investNowTitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.investNowCountryToggle {
  display: flex;
  margin-bottom: 12px;
}
.investNowCountryToggle button {
  width: 135px;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 100px;
  top: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.investNowCountryToggle button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
  display: inline-flex;
}
.investNowCountryToggle button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: 0;
  display: inline-flex;
  border-left: none;
}
.investNowCountryToggle button img {
  margin-right: 15px;
  zoom: 80%;
}
.investNowCountryToggle button span {
  display: inline-block;
}
.investNowContainer {
  padding: 35px 38px;
  border-radius: 20px;
  background: #fff;
}
.investNowFilter {
  background: #D9D9D9;
  border-radius: 100px;
  padding: 9px;

}
.investNowFilter button {
  width: 130px;
  height: 45px;
  border-radius: 100px;
  margin-right: 9px;
  border: none;
  display: inline-flex;
  justify-content: start;
  padding: 8px;
  align-items: center;
  gap: 10px;
}
.investNowFilter button img {
  display: inline-flex;
}
.investNowFilter button span {
  display: inline-flex;
}
.investNowFilterSelected {
  background: #007FFF;
  color: #fff;
}
.investNowCategories {
  display: flex;
  margin-top: 32px;
  gap: 38px;
}
.investNowSidebar {
  width: 40%;
  max-width: 260px;
  display: inline-flex;
  background: #CCCCCC;
  opacity: 0.5;
  border-radius: 20px;
}
.investNowSidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.investNowSidebar li {
  margin: 20px auto;
  position: relative;
}
.investNowSidebarCube{
  display: none;
  position: absolute;
  right: -54px;
  top: 10px;
}
.investNowSidebarSelected .investNowSidebarCube{
  display: block;
}
.investNowSidebar li:first-child {
  margin-top: 20px;
}
.investNowSidebarIcon {
  margin-right: 12px;
  margin-left: 20px;
}
.investNowSidebar li span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #141414;
}
.investNowContent {
  width: 60%;
  max-width: 400px;
  display: block;
}
.investNowContent img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}
.investNowContent p {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.investNowContent button {
  display: block;
  background: #FFFFFF;
  border: 2px solid #007FFF;
  border-radius: 100px;
  width: 149px;
  height: 45px;
  float: right;
  margin-top: 20px;
}
.seekInvestment {
  width: 35%;
}
.seekInvestmentTitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  height: 56.99px;
}
.seekInvestmentContainer {
  border-radius: 20px;
  background: #fff;
  padding: 35px 38px;
}
.seekInvestmentContainerBanner {
  max-width: 100%;
  max-height: 260px;
  background-image: url("/Rectangle43t.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
}
.seekInvestmentContainerBanner span{
  color: #fff;
  width: 60%;
  padding-left: 37px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.seekInvestmentContainerBanner button{
  width: 125px;
  height: 35px;

  background: #FFFFFF;
  border: 2px solid #007FFF;
  border-radius: 100px;
  float:right;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.seekInvestmentList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.seekInvestmentContainer li {
  display: flex;
  margin-bottom: 32px;
}
.seekInvestmentContainer li:last-child {
  margin-bottom: 0;
}
.seekInvestmentContainer li img {
  display: flex;
}
.seekInvestmentListItem {
  display: flex;
  gap: 10px;
  width: 100%;
}
.seekInvestmentListItemImage {
}
.seekInvestmentListItemDetail  {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 5px;
}
.seekInvestmentListItemTop  {
  display: inline-flex;
  justify-content: space-between;
}
.seekInvestmentListItemLeft  {
  display: flex;
  flex-direction: column;
}
.seekInvestmentListItemRight  {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.seekInvestmentListItemBottom  {
  display: flex;
  gap: 42px;
  margin-top: 5px;
}
.seekInvestmentListItemName  {
  display: block;
  margin-bottom: 10px;
}
.seekInvestmentListItemTarget  {
  display: block;
}
.seekInvestmentListItemLove  {
  display: inline-block;

}
.seekInvestmentListItemShare  {
  display: inline-block;
}
.seekInvestmentListItemDialog  {
  display: inline-block;
}
.seekInvestmentListItemTime  {
  display: inline-block;
}
.seekInvestmentListItemCategory  {
  display: inline-block;
}
